.about {
    background-color: teal;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #0785CE;
    font-family: 'Electrolize', sans-serif;
    background-color: #0067b3;
    background-image: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 0h20v20H0V0zm10 17a7 7 0 1 0 0-14 7 7 0 0 0 0 14zm20 0a7 7 0 1 0 0-14 7 7 0 0 0 0 14zM10 37a7 7 0 1 0 0-14 7 7 0 0 0 0 14zm10-17h20v20H20V20zm10 17a7 7 0 1 0 0-14 7 7 0 0 0 0 14z' fill='%23ffffff' fill-opacity='0.04' fill-rule='evenodd'/%3E%3C/svg%3E");
}

.aboutCard {
    width: 75%;
    display: flex;
    flex-direction: column;
}

.aboutContent {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 1.2rem;
}

.aboutContent p {
    margin: 1.2rem;
    font-size: 1.75rem;
    text-shadow: -1px -1px 1px rgba(150, 150, 150, 0), 
                  1px 1px 1px rgba(50, 50, 50, 0.75);
}

.selfImage {
    border: 1px solid black;
    height: 275px;
    width: 275px;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 5px 5px 5px 0px #000000;
}

.aboutLinks {
    display: flex;
    justify-content: space-evenly;
    font-size: 1.4rem;
    margin: 1.5rem;
}

.link {
    border: 1px solid black;
    padding: .3rem;
    width: 250px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 5px 5px 5px 0px #000000;
    background-color: #cbc6c0;
    text-shadow: -1px -1px 1px rgba(150, 150, 150, 0), 
                  1px 1px 1px rgba(50, 50, 50, 0.75);
}

.link:hover {
    background-color: #aca7a1;
}
