.headerContainer {
  width: 100%;
  border: 1px solid blue;
  text-align: center;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 2rem;
}

.siteTitle {
  margin-top: 0;
}

.siteSubtitle {
  margin-bottom: 0;
}

.brandContainer {
  border: 1px solid red;
  display: flex;
  flex-direction: column;
  height: 5rem;
  width: 5rem;
  justify-content: space-evenly;
}

.selfPic {
  height: 100px;
  width: 100px;
  object-fit: cover;
}

.brandImage {
  height: 50px;
  object-fit: cover;
}

.titleContainer {
  border: 1px solid green;
  padding: 0 5rem;
  font-size: 1.2rem;  
}

.linksContainer {
  border: 1px solid purple;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-right: -6rem;
}

.linksContainer img {
  height: 3rem;
  margin: 1rem;
}

.bodyContainer {
  max-width: 60rem;
  margin: 0 auto;
  border: 1px solid black;
  height: 100vh;
}

.sections {
  height: 30vh;
}