.navbar {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navbar p:first-of-type {
    margin-top: 1.2rem;
}

.navbar li {
    margin: 1.5rem 0;
}

.navLinks {
    list-style-type: none;
    color: black;
    font-size: 2rem;
    padding: 0;
    margin: 6rem 0;
}

.navLinks a:hover {
    color: white;
}

.selfDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.selfDiv p {
    margin: 0;
}

.selfDiv h2 {
    margin: 0;
}

.selfImage {
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
}

.socialDiv {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    margin: 1.2rem 0;
}

.githubImage {
    height: 2.25rem;
    width: 2.25rem;
}

.linkedinImage {
    height: 2.25rem;
    width: 2.25rem;
}
