.navbar {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navbar li {
    margin: 2rem 0;
}

.navLinks {
    list-style-type: none;
    color: black;
    font-size: 2rem;
    padding: 0;
    margin: 2rem 0 3rem 0;
}

.navLinks a:hover {
    color: white;
}

.selfDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem;
}

.selfDiv h2 {
    margin: 0;
}

.selfDiv h3 {
    margin: 0;
}

.selfImage {
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
}

.jklogo {
    height: 4rem;
    width: 4rem;
}

.socialDiv {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
}

.githubImage {
    height: 3rem;
    width: 3rem;
    margin-bottom: 1rem;
}

.linkedinImage {
    height: 3rem;
    width: 3rem;
}
