.projectCard {
    display: grid;
    grid-template-rows: 50px 300px;
    grid-template-columns: 450px 250px;
    justify-items: center;
    align-items: center;
    width: 730px;
    padding: 20px 0 0 30px;
    margin: 0 25px;
    border: 1px solid black;
    box-shadow: 5px 5px 5px 0px #000000;
    text-align: center;
    text-shadow: -1px -1px 1px rgba(150, 150, 150, 0), 
                  1px 1px 1px rgba(50, 50, 50, 0.75);
}

.projectCard img {
    width: 75%;
    height: 75%;
    border: 1px solid black;
    border-radius: 10%;
}

.projectCard a {
    border: 1px solid black;
    padding: 5px 20px;
    margin: 5px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 5px 5px 5px 0px #000000;
    background-color: #cbc6c0;
    text-shadow: -1px -1px 1px rgba(150, 150, 150, 0), 
                  1px 1px 1px rgba(50, 50, 50, 0.75);
}

.projectCard a:hover {
    background-color: #aca7a1;
}

.links {
    width: 400px;
}
